spring:
  application:
    name: PSDMWebApi
  datasource:
    url: jdbc:postgresql://localhost:5432/psdm
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080/realms/psdm-realm


server:
  port: 8081
